body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 40px;
}
h3{
    font-size: 20px;
    color: orangered;
}

.name_highlight{
    color: orange;
    
}
p{
    text-align: justify;
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link_button{
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 20px;
    font-weight: 700;
    color: white;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}